<div class="col s12 m6">
    <ul>
        <li>
            <a href="index.html">
                Home
            </a>
        </li>
        {{#posts}}
        <li>
            <a href="{{url}}">
                {{title}}
            </a>
        </li>
        {{/posts}}
    </ul>
</div>
