<html>
    <head>
        {{> head}}
    </head>
    <body>
        <main class="container">

            <div class="row">
                {{> image}}
                
                {{> nav}}
            </div>

        </main>
        {{> foot}}
    </body>
</html>
